{% extends "base.html" %}
{% load static %}

{% block title %}Home - Station Registry{% endblock %}
{% block map_style %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12"  >
            <div id="stations-map" ></div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/esri-leaflet.js' %}" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
    crossorigin=""></script>
    <script>
        var jsonUrl = "{% static 'js/slab_indonesia_usgs.json' %}";  // ✅ Get static URL
    </script>
    <script src="{% static 'js/d3.v7.min.js' %}"></script>
    <script src="{% static 'js/indofaults.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}
